
<!-- <mat-sidenav-container class='example-container'>
    <mat-sidenav #sidenav mode="over" opened>
        sidenav content
      <app-navlist></app-navlist>
    </mat-sidenav>
</mat-sidenav-container> -->

<!-- <mat-drawer-container class="example-container">
    <mat-drawer #sidenav mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->

  <!-- <mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="over" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container> -->
  <mat-drawer-container class="example-container">
    <mat-drawer #sidenav mode="side" opened >
        <app-navlist></app-navlist>
    </mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>